<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixing101.wechat.api.dao.BookStoragePlaceMapper">

    <resultMap id="bookStoragePlaceResultMap" type="bookStoragePlace">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="description" property="description"
            jdbcType="VARCHAR" />
        <result column="longtitude" property="longtitude"
            jdbcType="VARCHAR" />
        <result column="latitude" property="latitude" jdbcType="VARCHAR" />
        <result column="province" property="province" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="district" property="district" jdbcType="VARCHAR" />
        <result column="street" property="street" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="openTime" property="openTime" jdbcType="VARCHAR" />
        <result column="traffic" property="traffic" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime"
            jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime"
            jdbcType="TIMESTAMP" />
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
        <association column="owner_user_id" property="ownUser"
            select="queryUser" />
        <association column="create_user" property="creator"
            select="queryUser" />
        <association column="update_user" property="updateUser"
            select="queryUser" />
    </resultMap>


    <select id="queryBookStoragePlace" resultMap="bookStoragePlaceResultMap">
        SELECT * FROM
        mst_book_storage_place where id = #{id}
    </select>

    <insert id="saveBookStoragePlace" parameterType="bookStoragePlace" useGeneratedKeys="true" keyProperty="bookStoragePlace.id">
    INSERT INTO mst_book_storage_place (poi_id, name, description,
    longtitude,
    latitude,
    province, city, district,
    street,
    address, phone,
    mobile_phone,
    owner_user_id, owner_wechat_open_id, open_time, traffic, create_user,
    create_time,
    update_user,
    update_time, is_deleted)
    VALUES
    (#{bookStoragePlace.poiId},
    #{bookStoragePlace.name},
    #{bookStoragePlace.description},
    #{bookStoragePlace.longtitude},
    #{bookStoragePlace.latitude},#{bookStoragePlace.province},
    #{bookStoragePlace.city},#{bookStoragePlace.district},#{bookStoragePlace.street},#{bookStoragePlace.address},
    #{bookStoragePlace.phone},#{bookStoragePlace.mobilePhone},#{bookStoragePlace.ownerUser.id},#{bookStoragePlace.ownerUser.wechatOpenId},#{bookStoragePlace.openTime},#{bookStoragePlace.traffic},
    #{bookStoragePlace.creator.id},#{bookStoragePlace.createTime},#{bookStoragePlace.updateUser.id},#{bookStoragePlace.updateTime},#{bookStoragePlace.isDeleted})
    </insert>

</mapper>
