<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixing101.wechat.api.dao.BookMapper">

	<resultMap id="bookResultMap" type="book">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="title_author" property="titleAuthor" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="VARCHAR" />
		<result column="publication" property="publication" jdbcType="VARCHAR" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="publisher" property="publisher" jdbcType="VARCHAR" />
		<result column="binding" property="binding" jdbcType="VARCHAR" />
		<result column="language" property="language" jdbcType="VARCHAR" />
		<result column="general_note" property="generalNote" jdbcType="VARCHAR" />
		<result column="summary" property="summary" jdbcType="VARCHAR" />
		<result column="isbn_10" property="isbn10" jdbcType="VARCHAR" />
		<result column="isbn_13" property="isbn13" jdbcType="VARCHAR" />
		<result column="keywords" property="keywords" jdbcType="VARCHAR" />
		<result column="chn_cate_id" property="chnCateId" jdbcType="VARCHAR" />
		<result column="index_id" property="indexId" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="VARCHAR" />
		<result column="position" property="position" jdbcType="VARCHAR" />
		<result column="is_borrowed" property="isBorrowed" jdbcType="TINYINT" />
		<result column="front_cover" property="frontCover" jdbcType="VARCHAR" />
		<result column="backbone" property="backbone" jdbcType="VARCHAR" />
		<result column="back_cover" property="backCover" jdbcType="VARCHAR" />
		<result column="douban_image_url" property="doubanImageUrl" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
		<association column="bookshelf_id" property="bookshelf" select="queryBookshelf" />
		<association column="create_user" property="creator" select="queryUser" />
		<association column="update_user" property="updateUser" select="queryUser" />
	</resultMap>

	<resultMap id="bookshelfResultMap" type="bookshelf">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="floor" property="floor" jdbcType="VARCHAR" />
		<result column="room" property="room" jdbcType="VARCHAR" />
		<result column="bookshelf_pic" property="bookshelfPic" jdbcType="VARCHAR" />
		<result column="longtitude" property="longtitude" jdbcType="VARCHAR" />
		<result column="latitude" property="latitude" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
		<association column="book_storage_place_id" property="bookStoragePlace" select="queryBookStoragePlace" />
		<association column="create_user" property="creator" select="queryUser" />
		<association column="update_user" property="updateUser" select="queryUser" />
	</resultMap>

	<resultMap id="bookStoragePlaceResultMap" type="bookStoragePlace">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="poi_id" property="poiId" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="longtitude" property="longtitude" jdbcType="VARCHAR" />
		<result column="latitude" property="latitude" jdbcType="VARCHAR" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="district" property="district" jdbcType="VARCHAR" />
		<result column="street" property="street" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
		<result column="open_time" property="openTime" jdbcType="VARCHAR" />
		<result column="traffic" property="traffic" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
		<association column="owner_user_id" property="ownerUser"
			select="queryUser" />
		<association column="create_user" property="creator"
			select="queryUser" />
		<association column="update_user" property="updateUser"
			select="queryUser" />
	</resultMap>

	<resultMap id="userResultMap" type="user">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="nickname" property="nickname" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="wechat_open_id" property="wechatOpenId"
			jdbcType="VARCHAR" />
		<result column="wechat_id" property="wechatId" jdbcType="VARCHAR" />
		<result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
		<result column="qq" property="qq" jdbcType="VARCHAR" />
		<result column="weibo" property="weibo" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="TINYINT" />
		<result column="user_image" property="userImage" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="BIGINT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_user" property="updateUser" jdbcType="BIGINT" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
	</resultMap>

	<insert id="saveBook" parameterType="book" useGeneratedKeys="true" keyProperty="book.id">
		INSERT INTO mst_book (title_author, title, version,
		author, publication,
		publisher, binding, language,
		general_note,
		summary, isbn_10,isbn_13, keywords, chn_cate_id, index_id, price,
		position,
		is_borrowed, front_cover,
		backbone, back_cover, create_user,
		create_time,
		update_user,
		update_time, is_deleted,
		bookshelf_id)
		VALUES
		(#{book.titleAuthor},#{book.title},#{book.version},#{book.author},#{book.publication},#{book.publisher},
		#{book.binding},#{book.language},#{book.generalNote},#{book.summary},
		#{book.isbn10},#{book.isbn13},#{book.keywords},#{book.chnCateId},#{book.indexId},#{book.price},
		#{book.position},#{book.isBorrowed},#{book.frontCover},#{book.backbone},
		#{book.backCover},#{book.creator.id},#{book.createTime},#{book.updateUser.id},#{book.updateTime},#{book.isDeleted}
		,#{book.bookshelf.id})
	</insert>

	<update id="updateBook">

	</update>

	<delete id="deleteBook">
		UPDATE mst_book SET isDeleted = 1 where id = #{id}
	</delete>

	<select id="queryAllBooks" resultMap="bookResultMap">
		SELECT * FROM mst_book WHERE is_deleted = 0
	</select>

	<select id="findBookById" resultMap="bookResultMap">
		SELECT * FROM mst_book WHERE id = #{id} AND is_deleted = 0
	</select>

	<select id="queryBooksByParams" resultMap="bookResultMap">
		SELECT * FROM mst_book WHERE #{col} = #{val} AND is_deleted = 0
	</select>

	<select id="queryBookStoragePlace" resultMap="bookStoragePlaceResultMap">
		SELECT * FROM mst_book_storage_place WHERE id = #{id} AND is_deleted = 0
	</select>

	<select id="queryBookshelf" resultMap="bookshelfResultMap">
		SELECT * FROM mst_bookshelf WHERE id = #{id} AND is_deleted = 0
	</select>

	<select id="queryUser" resultMap="userResultMap">
		SELECT * FROM mst_user WHERE id = #{id} AND is_deleted = 0
	</select>
</mapper>
